@font-face {
font-family: "Nunito";
src: url('../fonts/Nunito.ttf');

}

@font-face {
font-family: "NunitoSans-Bold";
src: url('../fonts/NunitoSans-Bold.ttf');

}

.blog{
	margin-top: 5%;
	margin-bottom: 5%;
}

.blog h1{
	font-family: 'Nunito';
	font-size: 22pt;
	color: #00427f;
	border-top: 3%;
	text-transform: uppercase;
}
.blog h2{
	font-family: 'Nunito';
	font-size: 16pt;
	color: #00427f;
	text-transform: uppercase;
}
.blog h3{
	font-family: 'Nunito';
	font-size: 18pt;
	color: #00427f;
	text-align: center;
}
.blog ul{
	font-family: 'NunitoSans-Bold';
	font-size: 12pt;
	color: #000;
}
.blog p{
	font-family: 'NunitoSans-Bold';
	font-size: 12pt;
	color: #000;
}
.article-info-term{display: none}

.published{
	font-family: 'NunitoSans-Bold';
	font-size: 8pt;
	color: #00417f;	
}