
@font-face {
font-family: "Nunito";
src: url('../fonts/Nunito.ttf');

}

@font-face {
font-family: "NunitoSans-Bold";
src: url('../fonts/NunitoSans-Bold.ttf');

}
/*NEW MENU*/
#menu{
  background-color: #fff;
  position:relative;
  margin-bottom: 1rem;
  width: 100%;
}

.bm-cool-menu{
  display: block;
  text-decoration: none;
  color: #1c3e7a;
  text-transform: uppercase;
  font-family: "Nunito";
  font-size: 14px;
}
.bm-cool-menu .nav-child{
  position: relative;
}
.bm-cool-menu .nav-child ._soluciones_empresa{
  text-transform: uppercase;
  background-color: #8Fc6E8;
  color: white;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu .nav-child .servicios_empresa{
  text-transform: uppercase;
  background-color: #61B3E4;
  color: white;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu .nav-child .clientes_empresa{
  text-transform: uppercase;
  background-color: #009ADD;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu .nav-child .soluciones_gobierno{
  text-transform: uppercase;
  background-color: #003763;
  color: #fff !important;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu .nav-child .soluciones_gobierno:hover{
  color: #1c3e7a !important;
}
.bm-cool-menu .nav-child .servicios_gobierno{
  text-transform: uppercase;
  background-color: #004A97;
  color: #fff !important;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu .nav-child .servicios_gobierno:hover{
  color: #1c3e7a !important;
}
.bm-cool-menu .nav-child .clientes_gobierno{
  text-transform: uppercase;
  background-color: #0055b7;
  color: #fff !important;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu .nav-child .clientes_gobierno:hover{
  color: #1c3e7a !important;
}
.bm-cool-menu .nav-child .nuestro_equipo{
  text-transform: uppercase;
  background-color: #00a09a;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu .nav-child .ficha_curricular{
  text-transform: uppercase;
  background-color: #95C11E;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
}
.bm-cool-menu li .seccion {
   height: 40px;
  border-right: solid #8FC6E8;
}
.bm-cool-menu li:last-child {
   height: 40px;
  border-right: solid #8FC6E8;
}
/* OLD MENU*/
.moduletable_menu_ceo {
  position:relative;
  padding-top: 2rem;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
}

.header .moduletable_menu_ceo li a {
  display: block;
  text-decoration: none;
  color: #1c3e7a;
  text-transform: uppercase;
  font-family: "Nunito";
  font-size: 14px;
}

.header li:last-child {
  border-right: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu .dropdown-menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .moduletable_menu_ceo .menu {
  max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
  /*padding-left: 40px;*/
  /*line-height: 5%;*/
  min-width: 160px;
  border-right: 2px solid #1c3e7a;
  text-align: center;
}
.dropdow , .contacto{
  position: relative;
  display: inline-block;
  min-width: 160px;
  text-align: center;  
}
.dropdown a {
  margin-right: 15px;
  margin-left: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;/*#f1f1f1;*/
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
@media(max-width: 2560px){
  .moduletable_menu_ceo::after{
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    bottom: 0px;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 50%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  .moduletable_menu_ceo {
    width: 100%;
  }
}
/* 48em = 768px */
@media(max-width: 1200px){
  .bm-cool-menu a {
    font-size: 12px;
  }
}
@media(max-width: 1169px){
  .moduletable_menu_ceo {
    background-color: #fff;
    width: 95%;
  }

}
@media (min-width: 73em) {
  .header li {
    float: left;
  }
  .header .menu {
    clear: none;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.nav-link_dropbtn{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-menu li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}
.dropdown-menu {
  display: block;
}