@font-face {
font-family: "Nunito";
src: url('../fonts/Nunito.ttf');

}

@font-face {
font-family: "NunitoSans-Bold";
src: url('../fonts/NunitoSans-Bold.ttf');

}

.custom_nuestro_equipo{
	margin-left: 5%;
}

.moduletable_nuestro_equipo{
	background-color: #7ddbd3;
	box-shadow: 5px 10px 8px #888888;
}

.titulo{
	font-family: 'Nunito';
	font-size: 22pt;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #00417f;
	margin-top: 5%;
}

#titulo_sec{
	color: white;
}

.parrafoD{
	font-family: 'NunitoSans-Bold';
	font-size: 10pt;
	color: #00417f;
	margin-top: 2%;
}

.parrafoI{
	font-family: 'Gotham-Book';
	font-size: 16pt;
	color: #ffffff;
	margin-top: 1%;	
}