a.banner-general{
    margin-top: 34px;
    height: 200px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.content {
    min-height: 300px;
}
.container-fluid #menus{
    border-bottom:2px solid #128ad6;
    background-color: #003864;
}
.large-icon {
    font-size: 13em !important;
}
.contact .contact-address {
    padding: 0 1.5rem;
}
.navbar .mod-languages {
    padding-bottom: 0.425rem;
    padding-top: 0.425rem;
}
.lang-inline {
    list-style: outside none none;
    margin: 0;
}
.lang-inline > li {
    display: inline;
    margin-left: 8px;
}
.login {
    margin: 0 auto;
    max-width: 330px;
    padding-top: 1em;
}
.tags.inline {
    padding-left: 0;
}
.tags.inline li {
    display: inline;
}
.item-image {
    margin-bottom: 20px;
}
.top-encabezado{
    height: 30vh;
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.caja-contacto p
{
    line-height: 0.5;
    display: inline-block;
    font-size: 14px;
    padding-left: 12pt;
    font-family: 'Gotham-Book';
    color: #00427f;
}
.bottom-figuras
{
    height: 14vh;
    background-color: #00427f;
    background-image: linear-gradient(-33deg, #00427f 26.9%, transparent 27%), linear-gradient(-2deg, #FFFFFF 69%, transparent 70%);
}
.redes-sociales
{
    margin-bottom: 25px;
}
.titulo-contacto
{
    font-family: 'AHAMONO-Monospaced';
    color: #00427f;

}
#conac{
    width: 40%;
    margin-left: 5%;
}
.caja-contacto
{
    color:#00427f;
    /*margin-top:100%;*/
}   
.caja-contacto .oficina
{
    width: 261px;
}
.caja-contacto img
{
    width: 14px;
}
.redes-sociales img
{
    width: 18px !important;
    vertical-align: middle !important;
}
.redes-sociales p
{
    line-height: 0.1 !important; 
}
/*ARTICULOS BANNERS*/
.item-page .page-header{
    display: none;
}
.equipo_usuario {
    color: #00417f;
    padding: .25rem .5rem;
    font-family: 'AHAMONO-Monospaced';
    text-transform: uppercase;
    width: 58%;
    font-size: 21pt;
}
.textoContent{
    font-family:'Gotham-Book';
    font-size: 12pt;
    color: #00417f;
    line-height:1.1rem;
}
@media (min-width: 1200px) and (max-width: 4000px)
{
    .caja-contacto .telefono
    {
        width: 320px;
    }
}
@media (max-width: 1199px)
{
    .caja-contacto .telefono
    {
        width: 316px;
    }
    .caja-contacto
    {
        color:#00427f;
        margin-top:120%;
    }
}
@media(max-width: 1024px) {
    .caja-contacto
    {
        overflow-y: hidden;
        margin-top: 160%;
    }
    .caja-contacto p{
        font-size: 10px;
    }
    .container-fluid{
        width: 100%;
        margin: 0 0 0 0;
    }
    a.banner-general{
        width: 100%;
    }
    .textoContent{
        width: 50%;
    }
    .body{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .titulo-contacto {
        text-align: center;
    }
    .caja-contacto
    {
        display: none;
    }
    #conac{
        width: 5%;
    }
    #footer_logo_i {
        margin-right: 15%;
    }
    #footer_logo_d {
        margin-right: 5%;
    }
}

@media (min-width: 0px) and (max-width: 1199px)
{
    .caja-contacto div .direccion
    {
        width: 79%;
    }
}
@media (min-width: 1200px) and (max-width: 4000px)
{
    .caja-contacto div .direccion
    {
        width: 98%;
    }   
}
