/** Menu Css **/
	
.bm-cool-menu, .bm-cool-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bm-cool-menu {
	width: auto;
	margin: 10px auto;
}

.bm-cool-menu:before,
.bm-cool-menu:after {
	content: "";
	display: table;
}

.bm-cool-menu:after {
	clear: both;
}

.bm-cool-menu {
	zoom:1;
}

.bm-cool-menu li {
	float: left;
	position: relative;
}
.bm-cool-menu li:last-child{
	border-right:none;
}
.bm-cool-menu a {
	float: left;
	padding: 12px 15px;
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
}
.iconoIkots img{
	position: absolute;
	height: 50vh;
	margin-top: -25vh;
}
.item-107{
	width: 30%;
}
.item-107 a{
	visibility: hidden;
}
.bm-cool-menu li:hover > a {
	color: #fafafa;
}

*html .bm-cool-menu li a:hover { /* IE6 only */
	color: #fafafa;
}

.bm-cool-menu ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	-moz-box-shadow: 0 -1px rgba(255,255,255,.3);
	-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;  
}

.bm-cool-menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

.bm-cool-menu ul ul {
	top: 0;
	left: 100%;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);		
}

.bm-cool-menu ul li {
	float: none;
	display: block;
	border-bottom: solid thin #fcfcfc;
	_line-height: 0; /*IE6 only*/
}
.bm-cool-menu ul li:last-child {   
	border-bottom: none;    
}

.bm-cool-menu ul a {    
	padding: 10px;
	width: auto;
	min-width: 150px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

.bm-cool-menu ul a:hover {
	background-color: #0186ba;
}

.bm-cool-menu ul li:first-child > a {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.bm-cool-menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(255, 255, 255, 0.7);
}

.bm-cool-menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;	
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid rgba(255, 255, 255, 0.7);
}

.bm-cool-menu ul li:last-child > a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

/* Mobile */
.bm-cool-menu-trigger {
	display: none;
}

@media screen and (max-width: 768px) {

	/* nav-wrap */
	.bm-cool-menu-wrap {
		position: relative;
	}

	.bm-cool-menu-wrap * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* menu icon */
	.bm-cool-menu-trigger {
		display: block; /* show menu icon */
		height: 40px;
		line-height: 40px;
		cursor: pointer;		
		padding: 0 0 0 15px;
		border: 1px solid #222;
		color: #fafafa;
		font-weight: bold;
		background-color: #111;
		background: #444;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}
	
	/* main nav */
	.bm-cool-menu {
		margin: 0; padding: 10px;
		position: absolute;
		top: 40px;
		width: 100%;
		z-index: 1;
		background-color: #444;
		display: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;		
	}

	.bm-cool-menu:after {
		content: '';
		position: absolute;
		left: 25px;
		top: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #444;
	}	

	.bm-cool-menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;				
	}

	.bm-cool-menu ul ul {
		margin: 0 0 0 20px !important;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;		
	}

	.bm-cool-menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 5px;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;			
	}

	.bm-cool-menu ul li{
		margin-left: 20px;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;		
	}

	.bm-cool-menu a{
		display: block;
		float: none;
		padding: 0;
		color: #999;
		padding: 6px 5px;
	}

	.bm-cool-menu a:hover{
		color: #fafafa;
	}	

	.bm-cool-menu ul a{
		padding: 4px;
		width: auto;		
	}

	.bm-cool-menu ul a:hover{
		background: none;	
	}

	.bm-cool-menu ul li:first-child a:after,
	.bm-cool-menu ul ul li:first-child a:after {
		border: 0;
	}		

}

@media screen and (min-width: 768px) {
	.bm-cool-menu {
		display: block !important;
	}
}	

/* iPad */
.no-transition {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	opacity: 1;
	visibility: visible;
	display: none;  		
}

.bm-cool-menu li:hover > .no-transition {
	display: block;
}