.mod-nosotros {
	position: absolute;
	justify-content: space-around;
	background-repeat: no-repeat;
	background-position-x:78%;
	background-size: 60%;
	margin-top: 10%;
}
.imagen_banner{
	border-bottom: 2px solid #128ad6;
	margin-bottom: 5%;
}
.img-titular{
	height: 100px;
	margin-left: 35%;
	margin-right: 20%;
	margin-bottom: 2%;
}
.mod-nosotros h1{
	color: #9b999f;
	font-family: 'NunitoSans-Bold';
	text-align: center;
}
.mod-nosotros p{
	color: #9b999f;
	font-family: 'Nunito';
	font-size: 18px;
}
.mod-nosotros .menuTexto{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
.mod-nosotros .imagen_footer img{
	width: 100%;
}
@media screen and (min-width: 768px) {
	.mod-nosotros:after {
		width: 60%;
		left: 61%;
		transform: translateX(-50%);
	}
}

@media screen and (max-width: 768px) {
	.mod-nosotros h1 {
		text-align: center;
	}
}